POSTGRES_DB=devsu_bank
POSTGRES_USER=devsu
POSTGRES_PASSWORD=devsu123

# Estoy usando este puerto porque en mi computadora el puerto 5432 ya lo ocupa el PostgreSQL 16 de Homebrew.
# Si cuando lo prueben en su computadora el 5432 está libre, pueden cambiarlo a 5432. Dentro del contenedor siempre es 5432.
POSTGRES_PORT=5433
